/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing:border-box;
  font-family: "Noto Sans TC", sans-serif;
}
.wrap {
  display:flex;
  flex-direction:column;
}
.travelOrder {
  padding:120px 0px;
  display:flex;
  justify-content:center;
}

.card {
  max-width:920px;
  display:flex;
  padding:60px 95px;
  height: 100%;
  box-shadow:0 3px 6px #00000029;
  box-radius: 12px;
}

.pics {
  display:flex;
  flex-direction:column;
  margin-right:30px;
  height: 100%;
  justify-content:space-between;
}
.travelOrder img{
  max-width:350px;
}
.formText{
  color:#00807E;
  font-weight: 700;
  height:100%;
}
form {
  height:100%;
}
.formPutIn{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;

}
.formPutIn label {
  font-size: 16px;
  font-weight: 500;
}
.formPutIn input,select,textarea {
  margin-left:31px;
  border:none;
  border-bottom:1px solid #00807E;
  padding:8px 0px;
  background-color: #FAFAFA;
  width:71%;
  padding-left:12px;
  color:#818A91;
}

i {
  margin-right:6px;
}
.underLine {
  margin-top:4px;
  border:3px solid #00807E;
  height:1px;
  width:350px;
  font-size: 30px;
}
.btnDiv {
  text-align:right;
}
.btn {
  background-color:#00807E;
  border:1px solid #00807E;
  border-radius:5px;
  color:#FFFFFF;
  font-size: 20px;
  padding:8px 38px;
}
.btn:hover {
  background-color: #004E4D;
  border:1px solid #004E4D;
}


.travelList {
  background-color: #F7F7F7;
  display:flex;
  justify-content:center;
  padding:0 400px 120px 400px;
}
.travelContent{
   display:flex;
  flex-direction:column;
}

.travelAllCard {
/*  max-width:1100px; */
 display: flex;
 flex-wrap:wrap;
}
.travelCard {
  width:31.333%;
  margin-right:2%;
  margin-bottom:38px;
  background-color: #fff;
  border:1px solid #DEE2E6;
  border-radius:4px;
  box-shadow: 0px 3px 6px #00000029;
  position:relative;
}
.areaLabel {
  position:absolute;
  width:80px;
  height:44px;
  top:-12px;
  background-color: #64C3BF;
  font-size: 20px;
  font-weight: 500;
  color:#FFF;
  text-align:center;
  line-height:44px;
  border-radius: 0 4px 4px 0;
}
.travelImg img {
  max-width:100%;
}
.search {
  display:flex;
  align-items:center; 
  color:#818A91;
}
.searchBar {
  width:30%;
  padding:56px 0;
  margin-left:5%;
}
.searchBar select{
  border:1px solid #CED4DA;
  border-radius:4px;
  background-color: #fff;
}
.travelTitle {
   padding:16px 0px;
  font-weight: 700;
  position:relative;
}

.rateLabel {
  position:absolute;
  width:40px;
  height:32px;
  background-color: #00807E;
  color:#FFF;
  text-align:center;
  line-height:32px;
  border-radius: 0 4px 4px 0;
  left:-20px;
  top:-20px;
}
.travelTitle h3 {
  color:#00807E;
  border-bottom:2px solid #007572;
  font-size: 24px;
}
.travelDetail {
  color:#818A91;
  line-height:1.5;
  
}

.travelCardText {
  padding:0px 20px;
  display: flex;
  flex-direction:column;
  justify-content:space-between;

}


.travelFooter {
  color:#00807E;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight: 700;
  padding-bottom:25px;
}
.travelPrice {
  display: flex;
  align-items:center;
}
.travelPrice .dollar {
  font-size: 32px;
  padding-left:4px;
}